*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: 200px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

div {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 2px solid black;
  background-color: white;
  width: 250px;
}

h2,h3,h4,h5 {
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 40px;
}

body {
  background-color: lightgray;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 100vh;
}

html {
  background-color: gray;
}

